{% extends 'core/base.html' %}

{% load static %}

{% block title %}Portada{% endblock %}

{% block background %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Juan Mª Escrig.</h1>
<span class="subheading">Desarrollador.</span>
{% endblock %}

{% block content %}
<h2>Bienvenidos</h2>
<p>Esto es la portada</p>
{% endblock %}

